@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base1: hsl(0, 0%, 99.0%);
    --base2: hsl(0, 0%, 97.3%);
    --base3: hsl(0, 0%, 95.1%);
    --base4: hsl(0, 0%, 93.0%);
    --base5: hsl(0, 0%, 90.9%);
    --base6: hsl(0, 0%, 88.7%);
    --base7: hsl(0, 0%, 85.8%);
    --base8: hsl(0, 0%, 78.0%);
    --base9: hsl(0, 0%, 56.1%);
    --base10: hsl(0, 0%, 52.3%);
    --base11: hsl(0, 0%, 43.5%);
    --base12: hsl(0, 0%, 9.0%);
  }
  .dark {
    --base1: hsl(0, 0%, 8.5%);
    --base2: hsl(0, 0%, 11.0%);
    --base3: hsl(0, 0%, 13.6%);
    --base4: hsl(0, 0%, 15.8%);
    --base5: hsl(0, 0%, 17.9%);
    --base6: hsl(0, 0%, 20.5%);
    --base7: hsl(0, 0%, 24.3%);
    --base8: hsl(0, 0%, 31.2%);
    --base9: hsl(0, 0%, 43.9%);
    --base10: hsl(0, 0%, 49.4%);
    --base11: hsl(0, 0%, 62.8%);
    --base12: hsl(0, 0%, 93.0%);
  }
}

@layer base {
  /* * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  } */
}